*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
}

.topnav{
    display: flex;
    background-color: rgb(0, 51, 255);
}

.topnav a{
    cursor:pointer;
  
}
.topnav a:hover{
    background-color: rgb(98, 255, 58);
}
.topnav p{
    font-size: 18px;
    padding: 12px 7px;
    color: white;
    font-weight: 400;
}

.divulgacao{
    background-color: rgba(238, 238, 238, 0.901);
    ;
    width: 100%;

}

.divulgacao h1{
    font-size: 55px;
    padding: 90px 170px 5px 140px;
    
    
}

.divulgacao a{
    display: inline-block;
    cursor:pointer;
    border-radius: 15px;
    margin-bottom: 75px;
}

.divulgacao p{
    font-size: 14px;
    padding: 6px 6px;
    
}


.divulgacao a:nth-of-type(3){
    background-color: blue;
    color: white;
}

.divulgacao a:nth-of-type(2){
    background-color: rgb(255, 32, 32);
    color: white;
}

.manipular-melhor{
    margin-left: 214px;
    background-color: rgb(33, 33, 33);
    color: white;
    border-radius: 15px;
}


.foto-perfil img{
    width: 33%;
    border-radius: 50%;
    margin-left: 53%;
    margin-top: 29px;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.sobre-mim{
    display: flex;
    width: 100%;
    background-color: rgb(0, 204, 255);
    
}

.sobre-mim h1{
    position: relative;
    left: 20%;
    width: 35%;
    margin-top: 30px;
}
.sobre-mim p{
    width: 100%;
    padding: 80px 0px;
    margin-left: -90px;
    color: rgb(0, 0, 0);
    text-align:justify;
    font-size: 18px;
    font-weight: 400;
}

.titulo-meus-projetos{
    text-align: center;
    padding: 20px 0px 10px;
    font-size: 20px;
    background-color: rgb(238, 238, 238);
}
.meus-projetos{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(238, 238, 238);
    height: 500px;
}   

.meus-projetos h1{
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.box-projetos h3{
    padding: 3px 3px;
    text-align: center;
    font-size: 25px;
    margin-top: -5px;
}

.box-projetos p{
    padding: 5px 20px;
    font-size: 16px;
    text-align: justify;
}


.box-projetos{
    width: 300px;
    height: 400px;
    background-color: rgb(210, 210, 210);
    margin: 2%;
    border-radius: 20px;
}

.box-projetos img{
    max-width: 300px;
    text-align: center;
    border-radius: 20px;
    padding: 15px 15px;
}

.h1-conhecimentos{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(43, 124, 255);
    
}

.h1-conhecimentos h1{
    font-size: 40px;
}
.conhecimentos-container{
    display: flex;
    justify-content: center;
    background-color: rgb(43, 124, 255);
    height: 450px;
}

.box-conhecimentos{
    margin: 0px 0;
    width: 1100px;
    height: 400px;
    background-color: rgb(45, 171, 255);
    display: flex;
    justify-content: center;
    
}

.icons-conhecimento{
    width: 130px;
    height:130px;
    background-color: rgba(255, 255, 255, 0.124);
    margin: 1%;
    margin-top: 140px;
    border-radius: 15px;
    cursor: pointer;

}

#css img{
    max-width: 148px;
    margin: -8.5px;
}

#js img{
    max-width: 160px;
    margin: -15px;
}


.icons-conhecimento img{
    max-width: 130px;
    padding: 5px 5px;
}

.hide{
    background-color: #333;
    text-align: center;
    width: 200px;
    display: none;
}

.hide p{
    padding: 15px 15px;
    text-align: justify;
}


