*{
    margin:0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;
}

.topnav{
    display: flex;
    background-color:  #333 ;
    width: 100%;
    position: fixed;
  
}

.topnav a{
    cursor:pointer;
    border-left: 1px solid black;
   
}


.topnav p:hover{
    background-color: rgb(98, 255, 58);
    color: black;
}
.topnav p{
    font-size: 18px;
    padding: 12px 7px;
    color: white;
    font-weight: 400;
}

.divulgacao{
    width: 100%;
    background-image:url('/imagens/Code.jpg') ;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.divulgacao h1{
    font-size: 60px;
    padding: 90px 170px 5px 140px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(16, 16, 16);
}

.divulgacao a{
    display: inline-block;
    cursor:pointer;
    border-radius: 15px;
    margin-bottom: 75px;

}

.divulgacao p{
    font-size: 14px;
    padding: 6px 6px;
    
}


.divulgacao a:nth-of-type(3){
    background-color: blue;
    color: white;
}

.divulgacao a:nth-of-type(2){
    background-color: rgb(255, 32, 32);
    color: white;
}

.manipular-melhor{
    margin-left: 214px;
    background-color: rgb(33, 33, 33);
    color: white;
    border-radius: 15px;
}
.foto-perfil{
    display: flex;
}

.foto-perfil img{
    max-width: 300px;
    margin-left: 1000px;
    border-radius: 50%;
    padding-bottom: 0;
    margin-top: -250px;
}

.sobre-mim{
    width: 100%;
    background-color:  #ffa200 ;
    height: 350px;
}

.h1solo{
    padding-top: 60px;
    padding-left: 220px;
    padding-right: 50px;
    color: rgb(0, 0, 0);
}   
.sobre-mim p{
    width: 700px;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 50px;
    color: rgb(0, 0, 0);
    text-align:justify;
    font-size: 18px;
    font-weight: 400;
}

.titulo-meus-projetos{
    text-align: center;
    padding: 20px 0px 10px;
    font-size: 20px;
    background-color: rgb(238, 238, 238);
}

.meus-projetos{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(238, 238, 238);
    
}   

.meus-projetos h1{
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.box-projetos h3{
    padding: 3px 3px;
    text-align: center;
    font-size: 25px;
    margin-top: -5px;
}

.box-projetos p{
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    text-align: justify;
}


.box-projetos{
    width: 300px;
    background-color: rgba(161, 161, 161, 0.357);
    margin: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.792);
    border-radius: 20px;
}

.box-projetos img{
    max-width: 300px;
    text-align: center;
    border-radius: 20px;
    padding: 15px 15px;
}

.h1-conhecimentos{
    text-align: center;
    padding: 20px;
    color: black;
    background-color: #ffa200;
    
}

.h1-conhecimentos h1{
    font-size: 40px;
}


.conhecimentos-container{
    display: flex;
    justify-content: center;
    background-color:  #ffa200;
    height: 450px;
}

.box-conhecimentos{
    margin: 0px 0;
    width: 1100px;
    height: 400px;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.604);
    display: flex;
    justify-content: center;
    
}

.icons-conhecimento{
    width: 130px;
    height:130px;
    background-color: rgba(70, 70, 70, 0.746);
    margin: 1%;
    margin-top: 140px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);

}

#css img{
    max-width: 148px;
    margin: -8.5px;
}

#js img{
    max-width: 160px;
    margin: -15px;
}


.icons-conhecimento img{
    max-width: 130px;
    padding: 5px 5px;
}

.formas-contatos{
    display: flex;
    width: 100%;
    background-color: rgb(223, 223, 223);

}

.formas-de-contato img{
    max-width: 50px;
    cursor: pointer;
    margin-left: 5px;
}

.formas-de-contato a:nth-of-type(1) {
    max-width: 50px;
    cursor: pointer;
    margin-left: 290px;
}

.formas-de-contato h1{
    padding-left: 150px;
    padding-top: 170px;
    width: 700px;
    font-size: 45px;
}   

.fale-comigo{
    background-color: rgb(255, 255, 255);
    height: 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.679);
    width: 300px;
    margin-left: 200px;
    margin-top: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    text-align: center;
}

.fale-comigo h3{
    padding-top: 50px;

}

.fale-comigo input[type="email"]{
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    border: 1px solid #ccc;
    outline: 0;
    font-size: 15px;

}

.fale-comigo textarea{
    margin-top: 5px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 100px;
    outline: 0;
    width: 210px;
    resize: none;
    padding: 3px;
    font-size: 14px;
}

.fale-comigo input[type="submit"]{
    margin-top: 12px;
    padding: 5px 7px;
    border-radius: 10px;
    border: none;
    outline: 0;
    font-size: 15px;
    cursor: pointer;
    background-color: orange;
}

.fale-comigo input[type="submit"]:hover{
    background-color: red;
    color: white;
}

footer p{
    color: white;
    font-weight: 700;
    padding: 10px;
    background-color: rgb(19, 19, 19);
    text-align: center;

}